<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      던전앤파이터 모험단 검색 사이트
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-slider.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">      
      <div class="menu-bg-wrap">
        <div class="site-navigation">
          <a href="index" class="logo m-0 float-start">DUNFA.XYZ</a>
          <ul
            class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
          >
            <li class="active"><a href="index">메인 화면</a></li> 
            <li><a href="rank">랭킹</a></li> <!-- 서비스 html 원본-->
            <li><a href="data">분포 그래프(beta)</a></li> <!-- 서비스 html 원본-->
            <li><a href="about">안내 사항</a></li>
          </ul>
          <a
            href="#"
            class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
            data-toggle="collapse"
            data-target="#main-navbar"
          >
            <span></span>
          </a>
        </div>    
    </div>
  </nav>

    <div
    class="about_hero page-inner overlay"
    style="background-image: url('{{ url_for('static', filename='image_set/about_banner.jpg') }}')"
    >
    </div>

    <div class="section">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h2 class="font-weight-bold heading text-primary mb-4">안내 사항</h2>
          </div>
        </div>
        <div class="row text-left mb-5">
          <div class="col-lg-6">
            <p class="text-black-50">
              1. 불러온 캐릭터를 삭제하는 기능과 관련하여 고민중인 요소가 있어
              차후 업데이트되거나 보완하는 로직이 추가될 예정입니다.
            </p>
            <p class="text-black-50">
              2. 랭킹을 비롯한 순위 집계는 빠르면 1주 내에 업데이트 될 예정입니다.
            </p>
            <p class="text-black-50">
              3. 미흡한 부분이나 개선했으면 하는 점을 말씀해주시면 최대한 반영하겠습니다.
            </p>
          </div>
          <div class="col-lg-6">
            <p class="text-black-50">
              4. 현재 '나오칭'으로 분류하고 있는 리스트 목록입니다. 누락된게 있다면 알려주세요.
            </p>
            <p class="text-black-50">
              칭호 : {'2023 시즌3', '진정한 각성', '소년의 기억을', '흰 구름 감시자'} <br>
              나비 : {'폭룡왕 바칼', '순백의 나비', '축제의 여왕', '태초의 세리아', '차원의 마검사'} <br>
              오라 : {'패셔니스타', '대마법사', '제네시스', '공포를 머금은', '페스타'}
            </p>
            <!-- <p class="text-black-50">
              6. .              
            </p> -->
          </div>
        </div>
      </div>
    </div>

    <div class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="widget">
              <h2>DUNFA.xyz</h2>
              <address>Design_By_Potion</address>
              <ul class="list-unstyled links">
                <li>
                  <a href="mailto:info@mydomain.com">info@mydomain.com</a>
                </li>
                <li>© 2024 dunfa.xyz All rights reserved.</li>
                <li>This site is not associated with NEXON Korea. Data sourced from NEOPLE OpenAPI.</li>
              </ul>
            </div>
          </div>
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/counter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
</html>
