<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      던전앤파이터 모험단 검색 사이트
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-slider.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">      
      <div class="menu-bg-wrap">
        <div class="site-navigation">
          <a href="index" class="logo m-0 float-start">DUNFA.XYZ</a>
          <ul
            class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
          >
            <li class="active"><a href="index">메인 화면</a></li> 
            <li><a href="rank">랭킹</a></li> <!-- 서비스 html 원본-->
            <li><a href="data">분포 그래프(beta)</a></li> <!-- 서비스 html 원본-->
            <li><a href="about">안내 사항</a></li>
          </ul>
          <a
            href="#"
            class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
            data-toggle="collapse"
            data-target="#main-navbar"
          >
            <span></span>
          </a>
        </div>    
    </div>
  </nav>

    <div
    class="wait_hero page-inner overlay"
    style="background-image: url('{{ url_for('static', filename='image_set/wait_page.jpg') }}')"
    >
    </div>

    <div class="section">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h2 class="font-weight-bold heading text-primary mb-4">해당 페이지는 알고리즘 및 테스트에 대한 설명입니다.</h2>
          </div>
          <div class="col-lg">
            **해당 페이지는 '/admin' 주소 입력을 통해서만 볼 수 있습니다.**
        </div>
              <!-- 버튼 클릭 시 이미지 표시 -->
          <div class="col-12">
            <br>
            <button onclick="toggleImage('imageContainer1')" class="btn btn-primary mb-4">알고리즘 보기</button>
          </div>

          <!-- 이미지를 감싸는 div, 기본적으로 숨김 -->
          <div id="imageContainer1" style="display: none;">
            <div class="col-12">
              <img src="{{ url_for('static', filename='flowchart1.png') }}" alt="플로우차트1" style="width: 55%; display: block; margin: 0 auto;">
            </div>
            <div class="col-12">
              <img src="{{ url_for('static', filename='flowchart2.png') }}" alt="플로우차트2" style="width: 50%; display: block; margin: 0 auto;">
            </div>
          </div>

          <div class="col-12">
            <br>
            <button onclick="toggleImage('imageContainer2')" class="btn btn-primary mb-4">테스트 방법</button>
          </div>
          <!-- 이미지를 감싸는 div, 기본적으로 숨김 -->
            <div id="imageContainer2" style="display: none;">
              <div class="col-lg">
                1. 메인 페이지 (/index)에서 '난새' 모험단을 검색해주세요. <br>
                2. 하단의 난새 모험단의 캐릭터들 이름을 입력해서 테스트할 수 있습니다.<br><br>
              </div>
              <div class="col-12">
                <img src="{{ url_for('static', filename='chalist.png') }}" alt="캐릭터 리스트" style="width: 70%; display: block; margin: 0 auto;">
              </div>
            </div>
        </div>
      </div>
    </div>

  <!-- JavaScript 코드 -->
  <script>
    function toggleImage(id) {
      var imageContainer = document.getElementById(id);
      if (imageContainer.style.display === 'none') {
        imageContainer.style.display = 'block';  // 이미지를 표시
      } else {
        imageContainer.style.display = 'none';  // 이미지를 숨김
      }
    }
  </script>
    <div class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="widget">
                <h2>DUNFA.xyz</h2>
                <address>Design_By_Potion</address>
                <ul class="list-unstyled links">
                  <li>
                    <a href="mailto:highcw@naver.com">highcw@naver.com</a>
                  </li>
                  <li>© 2024 dunfa.xyz All rights reserved.</li>
                  <li>This site is not associated with NEXON Korea. Data sourced from NEOPLE OpenAPI.</li>
                </ul>
              </div>
            </div>
  </div>

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/counter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
</html>
